$font-family-base: "europa", sans-serif !default;
$font-family-proxima: "proxima-soft", sans-serif;
$font-size-base:15px;
$button-font:14px;
$button-lineheight:18px;
$button-letter:1.4px;
$button-font-medium:16px;
$button-font-large:18px;
$button-bg-transprent:rgba(255,255,255,0.3);
$font-weight-light:300;
$font-weight-base:400;
$font-weight-medium:500;
$font-weight-semi:600;
$font-weight-bold:700;
$lineheight-base:19px;
$color-base:#655F71;
$color-white: #ffffff;
$color-black:#302E34;
$color-green:#83B202;
$color-green-light:#A6D130;
$color-blue: #0EA8C2;
$color-orange:#FBBB00;
$color-orange-dark:#DB9B22;  
$color-pink: #DD697B;
$color-teal: #50BAB2;
$color-pink-light: #B47289;
$color-pink-dark: #A32236;
$color-grey: #655F71;
$main-bg :#EDF6F7;
$main-bg-light :#D3E5E6;
$main-bg-light-opa :rgba(211,229,230,0.3);
$shadow-base:0px 0px 30px rgba(199, 216, 217, 0.7);
$radius-base:5px;
$border-base: rgba(156,152,162,0.16);
$info-lable:#302E34;
$nav-item-color: #bab4c3;
$nav-item-hover-color: #ffffff;
$text-transform-none:none;
$letter-spacing-none:0;
$radio-color: #f4f4f4;
$tab-bg: rgba(198,216,217,0.27);
$text-30:30px;

/* Responsive Media Query */
$breakpoint-large-desktop: 1599px;
$breakpoint-medium-desktop: 1340px;
$breakpoint-small-desktop: 1280px;
$breakpoint-ipad-landscap: 1199px;
$breakpoint-ipad-portrait: 991px;
$breakpoint-mobile: 767px;
